<template>
  <div class="game-stats">
    <div class="game-stats__stat game-stats__stat--flags">
      <v-icon class="mr-1" color="orange">{{ icons.mdiFlag }}</v-icon>
      <span class="orange--text text--darken-4">{{ flags }}</span>
    </div>
    <v-spacer />
    <div v-if="turns > 0" class="game-stats__stat game-stats__stat--turns">
      <span class="blue--text text--darken-2">{{ turns }}</span>
    </div>
    <div class="game-stats__stat game-stats__stat--time">
      <v-icon class="mr-1" color="teal">{{ icons.mdiClock }}</v-icon>
      <span class="teal--text text--darken-2">{{ formattedTime }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { mdiClock, mdiFlag } from "@mdi/js";
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class MinesweeperStats extends Vue {
  /** Flags remaining to place */
  @Prop({ required: true })
  flags!: number;

  /** Turns taken so far */
  @Prop({ required: true })
  turns!: number;

  /** Time spent in game */
  @Prop({ required: true })
  time!: number;

  icons = { mdiClock, mdiFlag };

  /** Formatted playing time */
  get formattedTime(): string {
    if (this.time === 0) return `--:--`;

    const minutes = Math.floor(this.time / 60);
    const seconds = this.time % 60;

    return `${this.padNumber(minutes, 2)}:${this.padNumber(seconds, 2)}`;
  }

  /**
   * Pad a number with zeros
   *
   * @param   number - Number to pad
   * @param   size   - Target amount of digits
   * @returns Padded number string
   */
  padNumber(number: number, size: number) {
    return new Array(size)
      .concat([Math.abs(number)])
      .join("0")
      .slice(-size);
  }
}
</script>

<style lang="scss" scoped>
.game-stats {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
}

.game-stats__stat {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.game-stats__stat--time {
  font-family: monospace;
}

.game-stats__stat--turns {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
}
</style>
