<template>
  <div
    :class="{ 'is-revealed': isRevealed }"
    :style="{
      color: bombCountColor,
      width: `${tileSize}px`,
      height: `${tileSize}px`,
    }"
    class="game-tile"
    @click="revealTile"
    @contextmenu.prevent="flagTile"
  >
    <template v-if="isRevealed">
      <template v-if="tile.bomb">
        <v-icon color="red darken-1">{{ icons.mdiBomb }}</v-icon>
      </template>
      <template v-else-if="tile.bombCount">
        {{ tile.bombCount }}
      </template>
    </template>
    <template v-else-if="isFlagged">
      <v-icon color="orange lighten-2">{{ icons.mdiFlag }}</v-icon>
    </template>
    <template v-else-if="isQuestioned">
      <v-icon color="teal lighten-5">{{ icons.mdiHelp }}</v-icon>
    </template>

    <!-- Debug -->
    <template v-if="debug && tile.state === MinesweeperTileState.HIDDEN">
      <template v-if="!tile.bomb">
        <span v-if="tile.bombCount" :style="{ color: 'white' }">
          {{ tile.bombCount }}
        </span>
      </template>
      <v-icon v-else color="white">{{ icons.mdiBomb }}</v-icon>
    </template>
  </div>
</template>

<script lang="ts">
import { mdiBomb, mdiFlag, mdiHelp } from "@mdi/js";
import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import colors from "vuetify/lib/util/colors";

// Utilities
import minesweeperConfig from "./config";

// Types
import { MinesweeperTileState } from "@typings/enums";
import { MinesweeperTile as MinesweeperTileType } from "@typings/minesweeper";

const bombColorMap: Record<number, string> = {
  1: colors.blue.darken3,
  2: colors.green.darken3,
  3: colors.amber.darken3,
  4: colors.deepOrange.darken3,
  5: colors.red.darken3,
  6: colors.red.darken3,
  7: colors.red.darken3,
  8: colors.red.darken3,
};

@Component
export default class MinesweeperTile extends Vue {
  /** Whether game is in debug mode */
  @Prop({ default: false })
  debug!: boolean;

  /** Minesweeper tile */
  @Prop({ required: true })
  tile!: MinesweeperTileType;

  icons = { mdiBomb, mdiFlag, mdiHelp };
  MinesweeperTileState = MinesweeperTileState;
  tileSize = minesweeperConfig.tileSize;

  /** Colour of bomb count number */
  get bombCountColor(): string {
    return bombColorMap[this.tile.bombCount];
  }

  /** Whether the tile is flagged */
  get isFlagged(): boolean {
    return this.tile.state === MinesweeperTileState.FLAGGED;
  }

  /** Whether the tile is questioned */
  get isQuestioned(): boolean {
    return this.tile.state === MinesweeperTileState.QUESTIONED;
  }

  /** Whether the tile is revealed */
  get isRevealed(): boolean {
    return this.tile.state === MinesweeperTileState.REVEALED;
  }

  /** Reveal a tile */
  @Emit("reveal")
  revealTile() {
    return this.tile;
  }

  /** Flag a tile */
  @Emit("flag")
  flagTile() {
    return this.tile;
  }
}
</script>

<style lang="scss" scoped>
.game-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  background-color: map-get($blue-grey, darken-2);
  border-radius: 4px;
  user-select: none;
  cursor: pointer;

  &.is-revealed {
    background-color: map-get($teal, lighten-5);
  }
}
</style>
