<template>
  <div class="game-board__colors">
    <div
      v-for="color in colors"
      :key="color"
      :class="{ 'is-disabled': disabled }"
      :style="{ backgroundColor: color }"
      class="game-board__color elevation-2"
      @click="!disabled ? changeColor(color) : null"
    />
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

@Component
export default class FloodItColorPicker extends Vue {
  /** List of available game colors */
  @Prop({ required: true })
  colors!: string[];

  /** Whether the colors are disabled */
  @Prop({ default: false })
  disabled!: boolean;

  /**
   * Change the currently selected color
   * @param color - Selected color
   */
  @Emit("change")
  changeColor(color: string) {
    return color;
  }
}
</script>

<style lang="scss" scoped>
.game-board__colors {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 16px 0;

  & > div:not(:first-child) {
    margin-left: 8px;
  }
}

.game-board__color {
  height: 40px;
  width: 40px;
  border: 3px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:not(.is-disabled):hover {
    transform: scale(1.05);
  }

  &.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
</style>
