<template>
  <v-dialog
    :value="value"
    max-width="500"
    persistent
    width="500"
    v-bind="$attrs"
    @input="(val) => $emit('input', val)"
  >
    <v-card>
      <v-card-title class="headline">Game Configuration</v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col>
              <SelectField
                v-model="configForm.boardSize"
                :items="items.boardSizes"
                hideDetails
                label="Size"
                name="boardSize"
              />
            </v-col>
            <v-col>
              <SelectField
                v-model="configForm.boardColors"
                :items="items.boardColors"
                hideDetails
                label="Colors"
                name="boardColors"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text @click="onCancel">
          Cancel
        </v-btn>
        <v-btn color="primary" text @click="onSave">
          Generate
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Emit, Prop, Watch, Vue } from "vue-property-decorator";

// Utilities
import { FloodItGameConfig } from "@typings/flood-it";
import floodItConfig, { defaultGameConfig } from "./config";

@Component
export default class FloodItConfigDialog extends Vue {
  /** Game config form */
  configForm: FloodItGameConfig = {
    ...defaultGameConfig,
  };

  /** Select field items */
  items = {
    boardColors: floodItConfig.boardColorOptions,
    boardSizes: floodItConfig.boardSizeOptions,
  };

  /** Game config */
  @Prop({ required: true })
  config!: FloodItGameConfig;

  /** Whether the dialog is shown */
  @Prop({ required: true })
  value!: boolean;

  /**
   * Update the config when the parent prop changes
   */
  @Watch("config")
  onConfigChanged(val: FloodItGameConfig) {
    this.configForm = { ...val };
  }

  /**
   * Cancel handler
   */
  @Emit("input")
  @Emit("cancel")
  onCancel(): boolean {
    // Reset the form upon cancel
    this.configForm = { ...this.config };

    return false;
  }

  /**
   * Save handler
   */
  @Emit("save")
  onSave(): FloodItGameConfig {
    this.$emit("input", false);

    return this.configForm;
  }
}
</script>
