<template>
  <v-card-actions class="game-board__actions">
    <ConfirmDialog
      v-model="isResetPromptShown"
      title="Restart Game?"
      @confirm="resetGame"
    >
      Are you sure you want to restart the game?
    </ConfirmDialog>
    <v-tooltip bottom open-delay="200">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          :disabled="gameState === GameState.PLAYING"
          aria-label="Configure Game"
          icon
          @click="configureGame"
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>{{ icons.mdiCog }}</v-icon>
        </v-btn>
      </template>
      <span>Configure</span>
    </v-tooltip>
    <v-spacer />
    <v-tooltip bottom open-delay="200">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          :disabled="gameState !== GameState.PLAYING"
          aria-label="Reset Game"
          color="orange"
          icon
          @click="isResetPromptShown = true"
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>{{ icons.mdiRefresh }}</v-icon>
        </v-btn>
      </template>
      <span>Reset</span>
    </v-tooltip>
    <v-btn
      :disabled="gameState === GameState.PLAYING"
      class="px-3"
      color="primary"
      rounded
      @click="generateGame"
    >
      Generate
    </v-btn>
  </v-card-actions>
</template>

<script lang="ts">
import { mdiCog, mdiRefresh } from "@mdi/js";
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

// Components
import { ConfirmDialog } from "@components/Dialogs";

// Types
import { GameState } from "@typings/enums";

@Component({
  components: {
    ConfirmDialog,
  },
})
export default class FloodItActionBar extends Vue {
  /** Game progress state */
  @Prop({ required: true })
  gameState!: GameState;

  GameState = GameState;
  icons = { mdiCog, mdiRefresh };
  isResetPromptShown = false;

  @Emit("generate")
  generateGame() {
    // Do nothing
  }

  @Emit("configure")
  configureGame() {
    // Do nothing
  }

  @Emit("reset")
  resetGame() {
    // Do nothing
  }
}
</script>

<style lang="scss" scoped>
.game-board__actions {
  justify-content: flex-end;
  width: 100%;
  margin-top: 16px;
  padding: 0;
}
</style>
