<template>
  <v-dialog
    :value="value"
    max-width="500"
    width="500"
    v-bind="$attrs"
    @input="(val) => $emit('input', val)"
  >
    <v-card>
      <v-card-title class="headline">Flood It Help</v-card-title>
      <v-card-text>
        Flood It! is a simple strategy game where the purpose is to flood the
        entire game board with a single color. Selecting a color will "flood
        fill" the board from the top left, replacing all adjacent tiles of the
        original color with the selected color. However, there is a maximum
        amount of steps for solving; make sure you choose the best way possible!
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" text @click="onClose">
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

@Component
export default class FloodItHelpDialog extends Vue {
  /** Whether the dialog is shown */
  @Prop({ required: true })
  value!: boolean;

  /**
   * Close handler
   */
  @Emit("input")
  @Emit("close")
  onClose(): boolean {
    return false;
  }
}
</script>
