<template>
  <v-footer absolute app class="app-footer" color="transparent" dark>
    <div class="app-footer__note">
      Created with
      <v-icon color="pink lighten-2">{{ icons.mdiHeart }}</v-icon> by Kendall
      Roth &copy; {{ year }}
    </div>

    <v-spacer></v-spacer>

    <template v-if="$vuetify.breakpoint.smAndUp">
      <div class="app-header__version">v{{ version }}</div>
      <v-btn
        :disabled="!gitUrl"
        :href="gitUrl"
        color="orange lighten-2"
        rounded
        rel="noreferrer"
        target="_blank"
        text
      >
        <v-icon left>{{ icons.mdiGit }}</v-icon>
        GitLab
      </v-btn>
    </template>
  </v-footer>
</template>

<script lang="ts">
import { mdiGit, mdiHeart } from "@mdi/js";
import { Component, Vue } from "vue-property-decorator";

// Utilities
import config from "@config";

@Component
export default class TheAppFooter extends Vue {
  icons = { mdiGit, mdiHeart };
  gitUrl = config.gitUrl;
  version = config.version;

  get year() {
    return new Date().getFullYear();
  }
}
</script>

<style lang="scss" scoped>
.app-footer__note {
  font-size: 0.9rem;
  opacity: 0.8;
}

.app-header__version {
  margin-right: 8px;
  font-size: 90%;
  opacity: 0.9;
}
</style>
