<template>
  <v-app-bar :elevation="0" app class="app-header" color="transparent" dark>
    <img
      :src="require('@assets/favicon.png')"
      alt="Logo"
      class="app-header__logo"
    />
    <h5 class="app-header__title text-h5">Web Games</h5>

    <v-spacer></v-spacer>

    <v-btn
      :disabled="!gitUrl"
      :href="gitUrl"
      rounded
      rel="noreferrer"
      target="_blank"
      text
    >
      <v-icon left>{{ icons.mdiGit }}</v-icon>
      GitLab
    </v-btn>
  </v-app-bar>
</template>

<script lang="ts">
import { mdiGit } from "@mdi/js";
import { Component, Vue } from "vue-property-decorator";

// Utilities
import config from "@config";

@Component
export default class TheAppHeader extends Vue {
  icons = { mdiGit };
  gitUrl = config.gitUrl;
}
</script>

<style lang="scss" scoped>
.app-header__logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
</style>
