<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title>Web Games - Kendall Roth</title>
    <meta name="description" content="Web implementations of several popular games" >
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script>
      // Hack to ensure URL always ends with a trailing slash (breaks styles with Netlify otherwise)
      // Taken from: https://flaviocopes.com/netlify-fix-trailing-slash-rewrite/
      (function() {
        if (!location.href.endsWith("/")) {
          window.location = location.href + "/";
        };
      }());
    </script>
    <!-- built files will be auto injected -->
  </body>
</html>
