<template>
  <div :style="{ backgroundColor: color }" class="page">
    <slot name="default" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Page extends Vue {
  /** Background colour */
  @Prop({ default: "" })
  color!: string;
}
</script>

<style lang="scss" scoped>
$background: #2e423e;

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: $background;
}
</style>
