<template>
  <Page>
    <TheAppHeader />
    <v-main>
      <div class="home__content">
        <div class="home__cards">
          <GameCard
            v-for="game in games"
            :key="game.name"
            :game="game"
            :selected="selectedGame === game"
            @select="selectGame"
          />
        </div>
        <div class="home__play">
          <v-btn
            :disabled="!selectedGame"
            class="home__play__button"
            color="primary lighten-1"
            x-large
            rounded
            @click="play"
          >
            <v-icon large left>{{ icons.mdiPlay }}</v-icon>
            Play
          </v-btn>
        </div>
      </div>
    </v-main>
    <TheAppFooter />
  </Page>
</template>

<script lang="ts">
import { mdiPlay } from "@mdi/js";
import { Component, Vue } from "vue-property-decorator";

// Components
import { TheAppFooter, TheAppHeader } from "@components/SingleUse";
import { GameCard } from "@components/Games";
import { Page } from "@components/Layout";

// Utilities
import games from "@/games";

// Types
import { Game } from "@typings/app";

@Component({
  components: {
    GameCard,
    Page,
    TheAppFooter,
    TheAppHeader,
  },
})
export default class Home extends Vue {
  icons = { mdiPlay };
  selectedGame: Game | null = null;

  get games(): Game[] {
    return Object.values(games);
  }

  /**
   * Select a game to be played
   * @param game - Selected game
   */
  selectGame(game: Game) {
    this.selectedGame = this.selectedGame === game ? null : game;
  }

  /**
   * Play the currently selected game
   */
  play() {
    if (!this.selectedGame) return;

    this.$router.push(this.selectedGame.route);
  }
}
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  width: 100%;
  // background-color: #004d40;
  background-color: #2e423e;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.home__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;

  > *:not(:first-child) {
    margin-left: 64px;
  }
}

.home__play__button.v-btn.v-btn--disabled {
  background-color: #d0d0d078 !important;
}
</style>
