<template>
  <v-hover v-slot="{ hover }">
    <v-card
      :class="{ 'is-hovered': hover, 'is-selected': selected }"
      :elevation="hover || selected ? 8 : 4"
      class="game-card"
      @click="select"
    >
      <div class="game-card__icon elevation-2">
        <img :alt="game.name" :src="game.icon" height="40" width="40" />
      </div>
      <div class="game-card__image">
        <img :alt="game.name" :src="game.image" height="200" width="200" />
        <v-fade-transition>
          <div v-if="selected" class="game-card__image__overlay">
            <v-icon color="white" size="100">{{ icons.mdiPlay }}</v-icon>
          </div>
        </v-fade-transition>
      </div>
      <span class="game-card__name primary--text text--darken-1">
        {{ game.name }}
      </span>
    </v-card>
  </v-hover>
</template>

<script lang="ts">
import { mdiPlay } from "@mdi/js";
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

// Types
import { Game } from "@typings/app";

@Component
export default class GameCard extends Vue {
  /** Game descriptor */
  @Prop({ required: true })
  game!: Game;

  /** Whether game is selected */
  @Prop({ default: false })
  selected!: boolean;

  icons = { mdiPlay };

  /** Select the game */
  @Emit("select")
  select(): Game {
    return this.game;
  }
}
</script>

<style lang="scss" scoped>
$imageSize: 200;
$expandedScale: 1.02;

.game-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8px;
  cursor: pointer;
  transition: transform ease-in-out 0.25s;
  border: 4px solid transparent;

  &.is-hovered {
    transform: scale($expandedScale);
  }

  &.is-selected {
    transform: scale($expandedScale);
    border-color: dodgerblue;
    opacity: 1;
  }
}

.game-card__icon {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  padding: 8px;
  border-radius: 50% !important;
  background-color: white;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.game-card__image {
  position: relative;
  display: flex;
  width: #{$imageSize}px;
  height: #{$imageSize}px;
  margin-bottom: 8px;
  border: 4px solid black;
  border-radius: 4px;
  box-sizing: content-box;
  user-select: none;
}

.game-card__image__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.game-card__name {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}
</style>
