<template>
  <Page>
    <GameAppBar :game="game">
      <template v-slot:actions>
        <slot name="headerActions" />
      </template>
    </GameAppBar>
    <v-main>
      <div class="game-container">
        <slot name="default" />
      </div>
    </v-main>
    <TheAppFooter />
  </Page>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

// Components
import { GameAppBar } from "@components/Games";
import { TheAppFooter, TheAppHeader } from "@components/SingleUse";
import { Page } from "@components/Layout";

// Types
import { Game } from "@typings/app";

@Component({
  components: {
    GameAppBar,
    Page,
    TheAppFooter,
    TheAppHeader,
  },
})
export default class GamePage extends Vue {
  @Prop({ required: true })
  game!: Game;
}
</script>

<style lang="scss" scoped>
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}
</style>
