<template>
  <v-scale-transition origin="center center 0">
    <div v-if="gameStateInfo" class="game-board__message">
      <div class="game-board__message__icon">
        <v-icon color="white" size="80">{{ gameStateInfo.icon }}</v-icon>
      </div>
      <div class="game-board__message__text">
        {{ gameStateInfo.message }}
      </div>
    </div>
  </v-scale-transition>
</template>

<script lang="ts">
import { mdiSkull, mdiTrophy } from "@mdi/js";
import { Component, Prop, Vue } from "vue-property-decorator";

// Types
import { GameState } from "@typings/enums";

interface GameStateMessage {
  /** Message icon */
  icon: string;
  /** Message text */
  message: string;
}

@Component({})
export default class FloodItBoardMessage extends Vue {
  /** Game progress state */
  @Prop({ required: true })
  gameState!: GameState;

  /** Game state info */
  get gameStateInfo(): GameStateMessage | null {
    switch (this.gameState) {
      case GameState.WON:
        return { icon: mdiTrophy, message: "You Won!" };
      case GameState.LOST:
        return { icon: mdiSkull, message: "You Lost!" };
      default:
        return null;
    }
  }
}
</script>

<style lang="scss" scoped>
.game-board__message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.game-board__message__icon {
  border-radius: 50%;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.game-board__message__text {
  margin-top: 12px;
  font-size: 2rem;
  color: white;
}
</style>
