<template>
  <v-app-bar :elevation="0" app class="game-bar" color="transparent" dark>
    <img
      :src="game.icon || require('@assets/favicon.png')"
      alt="Game Icon"
      class="game-bar__logo"
    />
    <router-link to="/">
      <v-icon>{{ icons.mdiHome }}</v-icon>
    </router-link>
    <v-icon class="mx-1">{{ icons.mdiChevronRight }}</v-icon>
    <h5 class="text-h5">{{ game.name }}</h5>

    <v-spacer></v-spacer>

    <slot name="actions" />
  </v-app-bar>
</template>

<script lang="ts">
import { mdiChevronRight, mdiHome } from "@mdi/js";
import { Component, Prop, Vue } from "vue-property-decorator";

// Types
import { Game } from "@typings/app";

@Component
export default class GameAppBar extends Vue {
  @Prop({ required: true })
  game!: Game;

  icons = { mdiChevronRight, mdiHome };
}
</script>

<style lang="scss" scoped>
.game-bar {
  padding-right: 8px;
}

.game-bar__logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
</style>
