<template>
  <v-card-actions class="game-actions">
    <ConfirmDialog
      v-model="isResetPromptShown"
      title="Restart Game?"
      @confirm="resetGame"
    >
      Are you sure you want to restart the game?
    </ConfirmDialog>
    <v-tooltip bottom open-delay="200">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          :disabled="isPlaying"
          aria-label="Configure Game"
          icon
          @click="configureGame"
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>{{ icons.mdiCog }}</v-icon>
        </v-btn>
      </template>
      <span>Configure</span>
    </v-tooltip>
    <v-spacer />
    <v-btn
      :disabled="isPlaying"
      class="px-3"
      color="primary"
      rounded
      @click="generateGame"
    >
      <v-icon left>{{ icons.mdiPlay }}</v-icon>
      Start
    </v-btn>
  </v-card-actions>
</template>

<script lang="ts">
import { mdiCog, mdiPlay, mdiRefresh } from "@mdi/js";
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

// Components
import { ConfirmDialog } from "@components/Dialogs";

// Types
import { GameState } from "@typings/enums";

@Component({
  components: {
    ConfirmDialog,
  },
})
export default class SnakeActionBar extends Vue {
  /** Game state */
  @Prop({ required: true })
  gameState!: GameState;

  icons = { mdiCog, mdiPlay, mdiRefresh };
  GameState = GameState;
  isResetPromptShown = false;

  /** Whether game is in progress */
  get isPlaying() {
    return (
      this.gameState === GameState.PLAYING ||
      this.gameState === GameState.PAUSED
    );
  }

  @Emit("generate")
  generateGame() {
    // Do nothing
  }

  @Emit("configure")
  configureGame() {
    // Do nothing
  }

  @Emit("reset")
  resetGame() {
    // Do nothing
  }
}
</script>

<style lang="scss" scoped>
.game-actions {
  justify-content: flex-end;
  width: 100%;
  margin-top: 16px;
  padding: 0;
}
</style>
