<template>
  <v-dialog
    :value="value"
    max-width="500"
    persistent
    width="500"
    v-bind="$attrs"
    @input="(val) => $emit('input', val)"
  >
    <v-card>
      <v-card-title class="headline">Game Configuration</v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col>
              <SelectField
                v-model="configForm.boardWidth"
                :items="items.boardSizes"
                hideDetails
                label="Width"
                name="boarderWidth"
              />
            </v-col>
            <v-col>
              <SelectField
                v-model="configForm.boardHeight"
                :items="items.boardSizes"
                hideDetails
                label="Height"
                name="boardHeight"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text @click="onCancel">
          Cancel
        </v-btn>
        <v-btn color="primary" text @click="onSave">
          Generate
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Emit, Prop, Watch, Vue } from "vue-property-decorator";

// Utilities
import snakeConfig, { defaultGameConfig } from "./config";

// Types
import { SnakeGameConfig } from "@typings/snake";

const defaultGameConfigForm: SnakeGameConfig = {
  ...defaultGameConfig,
};

@Component
export default class SnakeConfigDialog extends Vue {
  /** Game config form */
  configForm: SnakeGameConfig = {
    ...defaultGameConfigForm,
  };

  /** Select field items */
  items = {
    boardSizes: snakeConfig.boardSizeOptions,
  };

  /** Game config */
  @Prop({ required: true })
  config!: SnakeGameConfig;

  /** Whether the dialog is shown */
  @Prop({ required: true })
  value!: boolean;

  /**
   * Update the config when the parent prop changes
   */
  @Watch("config")
  onConfigChanged(val: SnakeGameConfig) {
    this.configForm = {
      ...val,
    };
  }

  /**
   * Cancel handler
   */
  @Emit("input")
  @Emit("cancel")
  onCancel(): boolean {
    // Reset the form upon cancel
    this.configForm = {
      ...this.config,
    };

    return false;
  }

  /**
   * Save handler
   */
  @Emit("save")
  onSave(): SnakeGameConfig {
    this.$emit("input", false);

    return this.configForm;
  }
}
</script>
