<template>
  <div
    :style="{
      width: `${tileSize}px`,
      height: `${tileSize}px`,
    }"
    class="game-tile"
  >
    <div v-show="isSnake" class="game-tile__cube game-tile__cube--snake" />
    <div v-show="isFood" class="game-tile__cube game-tile__cube--food" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

// Utilities
import snakeConfig from "./config";

// Types
import { SnakeTileState } from "@typings/enums";
import { SnakeTile as SnakeTileType } from "@typings/snake";

@Component
export default class MinesweeperTile extends Vue {
  /** Snake tile */
  @Prop({ required: true })
  tile!: SnakeTileType;

  tileSize = snakeConfig.tileSize;

  /** Whether tile is food for snake */
  get isFood() {
    return this.tile.state === SnakeTileState.FOOD;
  }

  /** Whether tile is open */
  get isOpen() {
    return this.tile.state === SnakeTileState.OPEN;
  }

  /** Whether tile is part of snake */
  get isSnake() {
    return this.tile.state === SnakeTileState.SNAKE;
  }
}
</script>

<style lang="scss" scoped>
.game-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid rgba(255, 255, 255, 0.1);
  user-select: none;
}

.game-tile__cube {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

.game-tile__cube--snake {
  background-color: map-get($green, darken-2);
}

.game-tile__cube--food {
  background-color: map-get($red, lighten-1);
}
</style>
