<template>
  <div class="game-stats">
    <v-spacer />
    <div class="game-stats__stat game-stats__stat--length">
      <v-icon class="mr-1" color="blue">{{ icons.mdiSnake }}</v-icon>
      <span class="blue--text text--darken-2">{{ length }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { mdiSnake } from "@mdi/js";
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class SnakeStats extends Vue {
  /** Snake length */
  @Prop({ required: true })
  length!: number;

  icons = { mdiSnake };
}
</script>

<style lang="scss" scoped>
.game-stats {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
}

.game-stats__stat {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}
</style>
