<template>
  <v-tooltip bottom open-delay="200">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        aria-label="Help"
        color="white"
        icon
        @click="showHelp"
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>{{ icons.mdiHelpCircle }}</v-icon>
      </v-btn>
    </template>
    <span>{{ tooltip }}</span>
  </v-tooltip>
</template>

<script lang="ts">
import { mdiHelpCircle } from "@mdi/js";
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

@Component
export default class HelpIcon extends Vue {
  /** Tooltip text */
  @Prop({ default: "Game Help" })
  tooltip!: string;

  icons = { mdiHelpCircle };

  /** Help icon click handler */
  @Emit("click")
  showHelp() {
    // Do nothing
  }
}
</script>
