<template>
  <v-app class="app">
    <router-view />
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class App extends Vue {}
</script>

<style lang="scss">
// All v-main components should have flex content
.v-main__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
